@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<script src="~/js/User/Register.js"></script>

<h1>注册</h1>
<label>账号：</label><input id="account" />
<label>密码：</label><input id="password" type="password" />
<label>再次输入密码：</label><input id="repeatPassword" type="password" />
<input type="button" value="注册" onclick="tryAddUser()" />