
@{
    ViewData["Title"] = "登录";
}

<script src="~/Views/User/js/LogIn.js"></script>
<script src="http://code.jquery.com/jquery-latest.js"></script>

<h2>登录</h2>
<label>账号：</label><input id="account"/>
<label>密码：</label><input id="password"/>
<input type="button" value="登录" onclick="tryLogIn()"/>