@model RegisterViewModel
@{
    ViewData["Title"] = "注册";
}

<h2 class="col-md-offset-4 col-md-5">@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-offset-4 col-md-5">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <h4>注册一个新用户，用于积微物联各平台的登录。</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName">账号</label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password">密码</label>
                <input asp-for="Password" class="form-control" type="password"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword">再次输入密码</label>
                <input asp-for="ConfirmPassword" class="form-control" type="password"/>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">注册</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
