@{
    ViewData["Title"] = "联系";
}
<h2>@ViewData["Title"]</h2>

<address>
    四川省成都市青白江区<br />
    八阵大道698号,  <br />
    Tel: 400-101-8958
</address>

<address>
    <strong>技术支持:</strong> <a href="http://xh.jwell56.com/">积微物联</a><br />
</address>
